#iitr-image-container {
	position: relative
}

.iitr-main {
	background-color: #3a3c3f;
	height: 100%
}

.iitr-main aside {
	height: 100%;
	min-height: 700px;
	margin-top: 0px;
	width: 250px;
	z-index: 20;
	position: relative
}

.iitr-main aside .list__tile {
	border-radius: 2px
}

.iitr-main aside .primary--text {
	cursor: default;
	background: #f3c669;
	color: inherit!important
}

.iitr-main aside.navigation-drawer--mini-variant {
	width: 80px
}

.iitr-content {
	height: 100%;
	min-height: 700px;
	margin-left: 80px;
	padding: 10px
}

.iitr-main nav.toolbar {
	background-color: rgba(33, 33, 33, 0.3)
}

.iitr-main nav.toolbar .toolbar__content {
	height: 48px!important
}

.iitr-main nav.toolbar .title {
	min-width: calc(100vw - 80px);
	font-weight: 300;
	margin: 0!important;
	text-align: center;
	font-size: 16px!important
}

.iitr-main nav.toolbar button {
	float: left
}

@media (min-width:960px) {
	.iitr-main nav.toolbar button {
		display: none
	}
	.iitr-main aside.navigation-drawer--mini-variant {
		width: 250px
	}
	.iitr-main aside.navigation-drawer--mini-variant .subheader {
		display: block!important
	}
	.iitr-main aside.navigation-drawer--mini-variant .list__tile__content {
		opacity: 1!important
	}
	.iitr-content {
		margin-left: 250px
	}
}

.iitr-main nav.toolbar button.btn-close {
	transform: rotateY(180deg)
}

.card-hori {
	height: 75px;
	width: 200px;
	background: #17181a;
	margin: 5px;
	border-radius: 2px
}

.card-hori button {
	width: 100%;
	min-height: 100%;
	border-radius: 2px;
	border: none;
	font-size: 16px;
	color: #fff;
	background-color: #202020;
	cursor: pointer;
	padding: 6px
}

.card-hori button:hover {
	background: #f3c669
}

.card-hori button:focus {
	outline: none
}

.card-vert {
	width: 120px;
	height: 160px;
	background: #424242;
	color: #fff;
	cursor: pointer;
	margin: 15px
}

.card-vert:hover {
	color: #f3c669
}

.card-vert .course-svg {
	width: 120px;
	height: 120px;
	background-color: #17181a;
	display: flex;
	justify-content: center;
	align-items: center
}

.card-vert .course-svg div {
	width: 50%;
	height: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3a3c3f;
	border-radius: 50%
}

.card-vert .course-item {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center
}

@media (min-width: 600px) {
	.iitr-content,
	.iitr-main aside {
		min-height: 600px
	}
	.card-hori {
		width: 240px;
		height: 100px
	}
	.iitr-main nav.toolbar .title {
		font-size: 20px!important
	}
}

@media (min-width: 960px) {
	.card-hori {
		width: 300px;
		margin: 15px
	}
	.card-hori button {
		font-size: 18px
	}
}
