#iitr_image_holder {
	position: relative;
}

@media (min-width:1800px){
	#iitr_image_holder img {
		width: 100vw;
	}
}


.iitr-content{
	padding-top: 0px;
	background-color: #3a3c3f;
	font-size: 0;
}

.iitr-content .iitr_side {
	min-height: 600px;
	position: relative;
	left: 0;
	width: 160px;
	background-color: #303030;
	align-content: center;
	float: left;
}

@media (min-width:960px){
	.iitr-content .iitr_side {
		min-height: 600px;
		position: relative;
		left: 0;
		width: 200px;
		background-color: #303030;
		align-content: center;
		float: left;
	}
}

.iitr_side-options {
	padding-top: 24px;
	width: 100%;
}

.iitr_side-options h3 {
	font-weight: 700;
    font-size: 15px;
    color: rgba(255,255,255,.12);
    padding-left: 8px;
    margin-bottom: 12px;
}

.iitr_sem_opt {
	cursor: pointer;
	position: relative;
	width: 100%;
	border-radius: 2px;
	padding: 8px 8px 8px 16px;
	font-size: 16px;
	color: #eee;
	transition: all 280ms cubic-bezier(.5,0,.1,1);
}

.iitr_sem_exp{
	cursor: pointer;
	position: relative;
	width: 80%;
	border-radius: 2px;
	padding: 8px 8px 8px 36px;
	font-size: 16px;
	color: #fff;
	transition: all 280ms cubic-bezier(.5,0,.1,1);
	display: none;
	background-color: var(--theme-color, #f3c669);
	margin-left: 20px;
	transform: skewX(-20deg);
}

.iitr_sem_pxe-1, .iitr_sem_pxe-2 {
	cursor: pointer;
	position: relative;
	width: 80%;
	border-radius: 2px;
	padding: 8px 8px 8px 36px;
	font-size: 16px;
	color: #fff;
	transition: all 280ms cubic-bezier(.5,0,.1,1);
	display: none;
	background-color: var(--theme-color, #f3c669)!important;
	margin-left: 20px;
	transform: skewX(20deg);
}

.iitr_sem_opt.active_sem, .iitr_sem_exp.active_sem {
	color: #ffffff;
	cursor: default;
	background-color: var(--theme-color, #f3c669) !important;
    border-color: var(--theme-color, #f3c669) !important;
}

@media (min-width: 960px) {
	.iitr_sem_opt {
		font-size: 18px;
	}
}

.iitr_main {
	font-size: 16px;
	transition: none;
	position: relative;
	will-change: padding;
	width: auto;
    padding-top: 0px;
	padding-right: 16px;
	min-height: 600px;
	margin-left: 160px;
}

@media (min-width: 960px) {
	.iitr_main {
		margin-left: 200px;
	}
}

.iitr_title {
	font-size: 16px;
	height: 50px;
	position: relative;
	top: 0;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
	padding: 17px;
}

.iitr_main_content {
	margin-top: 50px;
	display: block;
	width: 100%;
	margin-left: 10px;
}

#all_sems {
	display: none;
}

#cur_subs {
	display: block;
}

#req_subs {
	display: none;
}

.sem_box {
	height: 70px;
	width: 80%;
	background: #17181a;
}

.sub_box {
	height: 100px;
	width: 80%;
	background: #17181a;
}

.sem_box, .sub_box {
	margin: 5px;
	border-radius: 2px;
}

.sem_box button , .sub_box button {
	width: 100%;
	min-height: 100%;
	border-radius: 2px;
	border: none;
	font-size: 16px;
	color: #fff;
	background-color: #202020;
	cursor: pointer;

}

.sem_box button:hover, .sub_box button:hover {
	background: var(--theme-color, #f3c669);
}

@media (max-width: 651px) {
	.sub_box {
		height: 50px;
	}
}

@media (min-width: 600px) {
	.sem_box {
		width: 40%;
	}
	.sub_box {
		width: 200px;
	}
	.sem_box button, .sub_box button{
		font-size: 16px;
	}
}

@media (min-width: 960px) {
	.sem_box {
		width: 300px;
	}
	.sub_box {
		width: 300px;
	}
	.sem_box button, .sub_box button{
		font-size: 18px;
	}

}

#course_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

#course_content .course_content_box {
	margin: 15px;
	width: 120px;
	height: 160px;
	background-color: #424242;
	color: #ffffff;
	cursor: pointer;
}

#course_content .course_content_box a {
	color: inherit;
	text-decoration: none!important;
}

#course_content .course_content_box:hover {
	color: var(--theme-color, #f3c669);
}

.course_content_box-svg {
	width: 120px;
	height: 120px;
	background-color: #17181a;
	display: flex;
	justify-content: center;
	align-items: center;
}

.course_content_box-svg div {
	width: 50%;
	height: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3a3c3f;
	border-radius: 50%;
}

.course_content_box-txt {
	width: 100%;
	height: 40px;
	text-align: center;
}